/** makes plyr fills the screen**/
.plyr,
.plyr__video-wrapper,
.plyr__video-wrapper video {
  width: 100%;
  height: 100%;
}

/** changes plyr color **/
.plyr--full-ui input[type='range'] {
  color: #ffffff;
}

.plyr__control--overlaid {
  background: transparent;
}

.plyr--video .plyr__control.plyr__tab-focus,
.plyr--video .plyr__control:hover,
.plyr--video .plyr__control[aria-expanded='true'] {
  background: rgba(255, 255, 255, 0.1);
}

.plyr__control.plyr__tab-focus {
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5);
}

.plyr__menu__container
  .plyr__control[role='menuitemradio'][aria-checked='true']::before {
  background: #ffffff;
}
